/* Global Css */

* {
    margin: 0;
    padding: 0;
    font-family: Rubik;
}

.global_btn {
    width: 140px;
    height: 40px;
    background-color: black;
    color: white;
}

.global_btn a{
    text-align: center;
    text-decoration: none;
    color: white;
}

.global_btn a:visited{
    text-align: center;
    text-decoration: none;
    color: white;
}

.global_section {
    padding: 3rem 0;
}

.global_heading {
    font-size: 55px;
    text-align: center;
    margin: 8px;
}

.global_head_p {
    text-align: center;
    color: #4e4e4e;
}

/* This is Header  */
/*
header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
}



.main ul li {
    display: inline;
    margin-right: 10px;
}

*/

.nav-bar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    height: 5rem;
    align-items: center;
    
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 115px;
    display: inline-block;
    text-align: center;
    position: relative;
    cursor: pointer;
    
}

.menu li a{
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.open_menu, .close_menu{
    position: absolute;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open_menu {
    top: 40px;
    right: 20px;
    transform: translateY(-50%);
}

.close_menu{
    top: 20px;
    right: 20px;
}

#check {display: none;}

/* First Section */


.first_section {
    background-image: url('./images/man.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 10rem 0;
    text-align: center;
  
}

.first_section p {
    font-size: 2rem;
}

.first_section h2 {
    font-size: 5rem;
    margin: 10px 0;
}

/* About me section */

.about_main_div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}


.about_sub_div1 img {
    width: 300px;
    height: 260px;
    margin: 0 30px;
}

.about_sub_div2  {
    width: 500px;
}

.about_sub_div2 h2 {
    font-size: 33px;
}

.about_sub_div2 p {
    color: #4e4e4e;
    margin: 15px 0px;
}

/* This is service area  */

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-single-item {
    padding: 50px;
    text-align: center;
}

.grid-single-item h2{
    margin: 15px 0;
}

.grid-single-item p{
    color: #4e4e4e;
}


.custom_icon {
    font-size: 60px;
}

/* work section  */
.single-img {
    width: 300px;
} 

/* Testimonial section  */


.testimonial_p {
    color: black !important;
}

/* Contact Me Section  */

form {
    margin-top: 30px;
    text-align: center;
    
}


form input {
    width: 252px;
    margin-bottom: 5px;
}

.submit_btn {
    height: 25px;
    width: 150px;
    background-color: black;
    color: white;
}


/* This is footer  */

footer {
    background-color: black;
    color: white;
    height: 3rem;
    text-align: center;
}

p {
    padding-top: 15px ;
}


/* Mobile Large  */

@media only screen and (max-width: 600px){
    .menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        background-color: black;
        z-index: 100;
        transition: all 0.2s ease-in-out;
    }
    .menu li {margin-top: 40px}
    .open_menu, .close_menu {display: block;}

     #check:checked ~ .menu{right: 0;}

}